{
  "parser": "babel-eslint",
  "extends": "dustinspecker/jsx",
  "plugins": [
    "react"
  ],
  "rules": {
    "new-cap": 0,
    "react/display-name": 0,
    "react/jsx-handler-names": 0
  },
  "settings": {
    "react": {
      "pragma": "element"
    }
  }
}
